* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: #f2f4f8;
}

.contenedor {
  display: flex;
  height: 100vh;
}

/* NAV */
.nav {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4d/Cat_November_2010-1a.jpg/1200px-Cat_November_2010-1a.jpg");
  background-size: cover;
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  min-width: 150px;
  flex: 1;
  max-width: 250px;
  padding: 20px;
  height: 100%;
  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
}

.nav h2 {
  margin-bottom: 20px;
}

.nav ul {
  list-style: none;
}

.nav li {
  margin: 10px 0;
  font-family: "Ancizar Serif", serif;
  font-optical-sizing: auto;
}

.nav a {
  text-decoration: none;
  color: rgb(250, 250, 250);
  transition: 0.3s;
}

.nav a:hover {
  color: #e200c4;
}

/* CONTENIDO */

.galeria-personal {
  height: 40%;
  flex-direction: column;
  flex-wrap: wrap;
}

.contenido {
  flex: 1;
  padding: 30px;
}

.row {
  flex: 4;
  padding: 30px;
}



.galeria {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 20px;
}

.tarjeta {
  padding: 30px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.tarjeta:hover {
  transform: scale(1.05);
}

/* Proporciones */
.grande {
  flex: 3;
  background-color: #4b404034;
}

.mediana {
  flex: 2;
  background-color: #4b404034;
}

.pequeña {
  background-image: url("");
  flex: 1;
  background-color: #4b404034;
}

.grande1 {
  flex: 3;
  background-color: #4b404034;
}

.mediana2 {
  flex: 2;
  background-color: #4b404034;
}

.pequeña3 {
  flex: 1;
  background-color: #4b404034;
}
